<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body class="js-stop-transition">
    <div class="icon-bar">
        <a id="icon" href="/"><i class="fa fa-home"></i></a> 
        <a id="icon" href="/project"><i class="fa fa-folder"></i></a>
  
        <div class="socials">
          <a id="social" target="_blank" href="https://www.youtube.com/channel/UCt0RA_2pYgARpRpj17K7a_g"><i class="fa fa-youtube-play"></i></a>
          <a id="social" target="_blank" href="https://discord.gg/YjSa7s8paX"><i class="fa fa-discord-alt"></i></a>
          <a id="social" target="_blank" href="https://www.github.com/devilowldev"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="center-position">
      <h4 class="green-fade">
        PAGE NOT FOUND<br>
        <span id="error-num">404</span><br>
        You are lost in black hole
      </h4>
    </div>
    <script>document.body.classList.remove('js-stop-transition')</script>
  </body>
</html>