<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/795515254325903362/795539012310925352/Devil_Owl.png"/>
    <title>Devil Owl Development</title> 
  </head>

  <body class="js-stop-transition">
    <div class="icon-bar">
      <a class="current" id="icon" href="/"><i class="fa fa-home"></i></a> 
      <a id="icon" href="/project"><i class="fa fa-folder"></i></a>

      <div class="socials">
        <a id="social" target="_blank" href="https://www.youtube.com/channel/UCt0RA_2pYgARpRpj17K7a_g"><i class="fa fa-youtube-play"></i></a>
        <a id="social" target="_blank" href="https://discord.gg/YjSa7s8paX"><i class="fa fa-discord-alt"></i></a>
        <a id="social" target="_blank" href="https://www.github.com/devilowldev"><i class="fa fa-github"></i></a>
      </div>
    </div>
    <div class="center-position">
      <h1 class="green-fade" id="home-header">
        Devil Owl Development<br>
      </h1>
      <h2 class="green-fade" id="home-des">
          A small community of developers
      </h2>
    </div>
    <script>document.body.classList.remove('js-stop-transition')</script>
  </body>
</html>