<html lang="en">
  <head>			
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/795515254325903362/795539012310925352/Devil_Owl.png"/>
    <title>Devil Owl Development</title> 
  </head>

  <body class="js-stop-transition">
    <div class="icon-bar">
        <a id="icon" href="/"><i class="fa fa-home"></i></a> 
        <a class="current" id="icon" href="/project"><i class="fa fa-folder"></i></a>
  
        <div class="socials">
          <a id="social" target="_blank" href="https://www.youtube.com/channel/UCt0RA_2pYgARpRpj17K7a_g"><i class="fa fa-youtube-play"></i></a>
          <a id="social" target="_blank" href="https://discord.gg/YjSa7s8paX"><i class="fa fa-discord-alt"></i></a>
          <a id="social" target="_blank" href="https://www.github.com/devilowldev"><i class="fa fa-github"></i></a>
        </div>
      </div>
    <div class="project-position">
      <h2 class="green-fade" id="contactme-header">Project</h2>
      <div class="project">
        <ul>
          <li>
            <h3><a>Gamecord</i></a></h3>
            <p>
            <a href="https://github.com/devilowldev/gamecord" target="_blank"><img height="30" src="https://raw.githubusercontent.com/1GPEX/logo/main/github-logo.png"></a>
            <a href="https://npmjs.com/gamecord" target="_blank"><img height="30" src="https://raw.githubusercontent.com/1GPEX/logo/main/npm-black-logo-new.png"></i></a>
            <a href="https://gamecord.js.org" target="_blank"><img height="30" src="https://raw.githubusercontent.com/1GPEX/logo/main/docs-logo.png"></i></a>
            <br>
                Easy to make discord games for your bot by us!<br>
            </p>
          </li>
          <li>
            <h3><a>Corx</i></a></h3>
            <p>
            <a href="https://github.com/devilowldev/corx" target="_blank"><img height="30" src="https://raw.githubusercontent.com/1GPEX/logo/main/github-logo.png"></a>
            <a href="https://npmjs.com/corx" target="_blank"><img height="30" src="https://raw.githubusercontent.com/1GPEX/logo/main/npm-black-logo-new.png"></i></a>
            <a href="https://corx.js.org" target="_blank"><img height="30" src="https://raw.githubusercontent.com/1GPEX/logo/main/docs-logo.png"></i></a>
            <br>
            This package make your create a database using better-sqlite3 quick<br>
            </p>
          </li>
          <li>
            <h3><a>Website</i></a></h3>
            <p>
            <a href="https://github.com/devilowldev/website" target="_blank"><img height="30" src="https://raw.githubusercontent.com/1GPEX/logo/main/github-logo.png"></a>
            <a href="https://devilowldev.js.org" target="_blank"><img height="30" src="https://raw.githubusercontent.com/1GPEX/logo/main/link-logo.png"></i></a>
            <br>
                Our Website<br>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <script>document.body.classList.remove('js-stop-transition')</script>
  </body>
</html>